/*
Theme Name: Carbon2Race 2.0
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/




/*************** ADD MOBILE ONLY CSS HERE  ***************/

.single_add_to_cart_button.button {
    background-color: yellow;
}
.tmcp-field-wrap input{
	display: none;
}

.tmcp-ul-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
	align-items: center;
}
.tm-extra-product-options .tmcp-ul-wrap li.tmcp-field-wrap{
	width: auto !important;
}
.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap{
	margin: 0 10px 0 0 !important;
}
.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap.tc-active .tm-label{
	box-shadow: 0 0 0 2px  #191919;
	background: #fff !important;
}
.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap:not(.tc-active) .tm-label:hover{
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap .tm-label{
	font-size: 14px;
	font-weight: 400;
	padding: 0px !important;
	border-radius: 3px; 
	box-shadow: 0 0 0 1px  #b2b2b2;
	min-width: 60px;
	height: 30px;
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: -o-flex !important;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	color: #676767;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	background: #fff;
}
.tm-extra-product-options .tm-epo-element-label{
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 23px;
}
.variations_form .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
    padding-top: 4px;
}
.variations_form .variations{
	margin-bottom: 0;
}
.sticky-add-to-cart.sticky-add-to-cart--active .cuzzy-edd-hook{
	width: 100%;
    max-width: 1074px;
    margin-top: 5px;
	text-align: center;
}
.sticky-add-to-cart.sticky-add-to-cart--active .cuzzy-edd-description {
    font-size: 12px;
}
.sticky-add-to-cart.sticky-add-to-cart--active .single_add_to_cart_button.button{
	font-size: 12px;
	width: 120px;
	margin: auto 10px 3px;
	padding: 0;
}
.sticky-add-to-cart.sticky-add-to-cart--active .product-title-small{
	font-size: 12px;
}
.sticky-add-to-cart.sticky-add-to-cart--active .sticky-add-to-cart__product{
	flex-wrap: wrap;
	flex-direction: row;
}
.sticky-add-to-cart.sticky-add-to-cart--active  label{
	margin-bottom: 0px;
	margin-top: 10px;
}
.sticky-add-to-cart.sticky-add-to-cart--active  .product-title-small{
	width: calc(100% - 66px );
	margin-right: 0;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):last-of-type{
	margin-right: 8px;
}
.sticky-add-to-cart.sticky-add-to-cart--active label{
	line-height: 28px;
	margin-bottom: 3px;
}
.sticky-add-to-cart.sticky-add-to-cart--active{
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	border: 1px solid #9494a1;
	justify-content: flex-start;
}
.sticky-add-to-cart.sticky-add-to-cart--active #tm-extra-product-options{
	width: 140px;
}
.sticky-add-to-cart.sticky-add-to-cart--active .tm-extra-product-options .tc-cell:not(label){
	margin-bottom: 0 !important;
}
.sticky-add-to-cart.sticky-add-to-cart--active .tm-extra-product-options label.tc-cell {
    margin-bottom: 5px !important;
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item){
	margin-bottom: 0 !important;
}
#cr_floatingtrustbadge_front{
	border-radius: 0 15px 15px 0;
	bottom: 132px;
	margin: 0;
}
.has-sticky-product-cart .back-to-top.active {
    bottom: 58px;
}
.has-sticky-product-cart {
    padding-bottom: 125px;
}
.single_variation_wrap .woocommerce-variation-price{
	border-top: none !important;
}
.label-button {
    display: none;
}
.cuzzy-edd-description{
	display: none !important;
}
.tm-extra-product-options .tm-epo-element-label span{
	font-weight: 400;
	color: #666;
	font-size: 20px;
}
.sticky-add-to-cart.sticky-add-to-cart--active .tm-extra-product-options .tm-epo-element-label span{
	display: none;
}
.woocommerce-variation-price{
	padding: 0 !important;
}
.woocommerce-variation-availability{
	margin-top: 10px;
}
body .sticky-add-to-cart--active{
	animation: none !important;
}
.single_variation_wrap {
	display: flex;
	flex-direction: column;
}
.woocommerce-variation.single_variation {
	order: 1;
}
.tc-totals-form.tc-show
{
	display: none !important;
}
@media only screen and (max-width: 1319px) {
	.copyright-footer {
		font-size: 14px;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 1199px) {
	.sticky-add-to-cart.sticky-add-to-cart--active{
		top: 50%;
		left: inherit;
		bottom: inherit;
		transform: translate(100%,-50%) !important;
		max-width: 230px;
		padding: 10px 15px;
		border: 1px solid #9494a1;
		z-index: 30;
	}
	.sticky-add-to-cart.sticky-add-to-cart--active.open{
		transform: translate(0%,-50%) !important;
	}
	.label-button{
		position: fixed;
		left: -86px;
		z-index: 30;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		transition: all 0.3s ease;
	}
	
	.label-button .button{
		margin: 0 !important;
		font-size: 14px;
	}
	.sticky-add-to-cart.sticky-add-to-cart--active .single_add_to_cart_button.button{
		width: 100%;
		margin: 10px 0;
	}
	.sticky-add-to-cart.sticky-add-to-cart--active .product-title-small + .variation-select .variable-item.button-variable-item{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 4px !important ;
	}
	.has-sticky-product-cart {
		padding-bottom: 0;
	}
}
@media only screen and (max-width: 768px) {
	.tm-extra-product-options ul.tmcp-elements:not(.tm-extra-product-options-variations) li.tmcp-field-wrap:not(.tm-per-row){
		width: auto !important;
	} 
	.woo-variation-swatches.wvs-show-label .variations td label, .woo-variation-swatches.wvs-show-label .variations td .woo-selected-variation-item-name{
		font-size: 18px !important;
	}
	.woo-variation-swatches.wvs-show-label .label{
		margin-top: 10px;
	}
	.product-main .single_variation_wrap{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 550px) {
	.sticky-add-to-cart.sticky-add-to-cart--active label{
		font-size: 16px;
	}
	.sticky-add-to-cart.sticky-add-to-cart--active .product-title-small{
		display: block !important;
	}
}
@media only screen and (max-width: 395px) {
	
	.variations_form .variations tr:first-of-type .button-variable-wrapper{
		flex-direction: column;
	}
	.variations_form .variations tr:first-of-type .button-variable-wrapper .button-variable-item{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 4px !important ;
	}

}